body {
  background: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

.about-me-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.projects-item {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  background: #fff;
}

.main-container {
  display: flex;
  width: 1200px;
  margin: 40px auto;
}

.sidebar-section {
  background: #1E2939;
}
